# IDE
.vscode/

# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Environment variables
.env*

# Jupyter
.ipynb_checkpoints/

# Data (large files)
data/raw/
data/processed/

# Models (large files)
models/

# Training history
history_all.pkl
